@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-yellow: #dc3545;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}


/* ////////////////////////////// NAVBAR //////////////////////////////// */


nav .Link.nav-link{
   font-weight: 300; 
    letter-spacing: 0.9px;
  cursor: pointer
} 

nav ul li{
  text-transform: uppercase;
}

.navbar-nav >li >.Link{
   margin-right: 25px;
  margin-left : 25px;
   color: var(--primary-white) !important; 
   border-top: 0.1875rem solid #212529;
}

.navbar-brand .logo{
  padding: 2px !important;
  height: 4rem !important;
  font-size: 33px;
}


.borderlight:hover{
  border-top: 0.1875rem solid var(--primary-yellow) !important;
}  

.myversion{
 /* background-color: red; */
 font-size: 30px !important;
 font-weight: 600 !important;
}
.login{
  border: 0.1875rem solid var(--primary-yellow);
}
/* .logo{
  background: url('./Assets/logo.png') 0 0 no-repeat;
  width: 140px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
} */

/* ///////////////// HEADER /////////////////// */


.header-wrapper {
  position: relative;
  background: url(./images/home_background_photo_70.png) no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}

.main-info{
  display: flex;
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
}

.btn-main-offer{
  border: 1px solid var(--primary-yellow) !important;
  text-transform: uppercase;
  /* margin: 15px 0px 0px;
  padding: 0px 30px; */
  background: var(--primary-yellow);

}
/* .btn-main-offer:hover{
  color: white !important;
  background-color: black !important;
} */

.header-heading{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 320%;
  /* margin-bottom: 2px;
  padding-right: 72px;
  padding-left: 72px; */
  margin-bottom: 20px;
  text-shadow: 3px 3px 4px #000000;
}
.welcome-harry{
  font-weight: 600;
  font-size: 280%;
  color: #dc3545 !important;
  text-align: left;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px #000000;
}

div.header-button-box {
  display: flex;
}

div.header-button-box div {
  margin: 10px;
}


/* //////// READ LIST /////////////// */

.read-list{
  /* text-align: center; */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.heading-list{
   text-align: center;
   margin-top: 20px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 320%;
   font-weight: 550;
}

.wish-list{
  background-color: rgb(233, 220, 220);
}
.wish-list-heading{
  margin-top: 20px !important;
  padding-top: 30px;

}

/* //////// This is a spacer that allows link scrolling to work correctly. It offsets the fixed navigation header. ////// */
div.header-offset-div {
  margin-top: -80px;
  height: 80px;
}

.heading-p{
  text-align: center;
   margin-top: 0px;
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   font-size: 120%;
   font-weight: 550;
}

.txt_field{
  position: relative;
  border-bottom: 2px solid #adadad !important;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none !important;
  background: none;
  outline: none;
}

.btn-read{
  text-align: center;
}

.read-list-data{
  text-align: center;
}


/* ////////// BOOK SEARCH FORM ////////////// */

.box-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.single-box{
   position: relative;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: auto;
   border-radius: 4px;
   background-color: rgb(230, 224, 224);
   text-align: center;
   margin: 20px;
   transition: .3s;

}

ul {
  list-style-type: none;
}

.font-bold {
  font-size: 19px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

.search-book{
  position: relative;
  background: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHNlYXJjaCUyMGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.search-option{
  border:3px solid #eb4657;
  height: 50px;
  width: 500px;
  border-radius: 50px;
  margin: 22px;
}



/* ////////// User Registration FORM ////////////// */

form.registration-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 30px;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
  margin: 10px;
}

.registration-form fieldset {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}

.registration-form label {
  flex: 0 0 content;
  margin-right: 10px;
}
.registration-form input {
  flex: 1 1 auto;
}

/* ////////// Log In FORM ////////////// */

form.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 30px;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
  margin: 10px;
}

.login-form fieldset {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}

.login-form label {
  flex: 0 0 content;
  margin: 0px 5px 0px 0px;
}

.login-form input {
  flex: 1 1 content;
}

.login-form input[type='submit'] {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.form-submit-status {
  font-weight: bold;
  margin-top: 10px;
}

.bookstop-hide {
  visibility: hidden;
  display: none;
}

.bookstop-show {
  visibility: visible; 
  display: block;
}



