@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-yellow: #dc3545;
}

*{
  font-family: 'Roboto Condesed', sans-serif;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* ////////////////////////////// NAVBAR //////////////////////////////// */


nav .Link.nav-link{
   font-weight: 300; 
    letter-spacing: 0.9px;
  cursor: pointer
} 

nav ul li{
  text-transform: uppercase;
}

.navbar-nav >li >.Link{
   margin-right: 25px;
  margin-left : 25px;
   color: var(--primary-white) !important; 
   border-top: 0.1875rem solid #212529;
}

.navbar-brand .logo{
  padding: 2px !important;
  height: 4rem !important;
  font-size: 33px;
}


.borderlight:hover{
  border-top: 0.1875rem solid var(--primary-yellow) !important;
}  

.myversion{
 /* background-color: red; */
 font-size: 30px !important;
 font-weight: 600 !important;
}
.login{
  border: 0.1875rem solid var(--primary-yellow);
}
/* .logo{
  background: url('./Assets/logo.png') 0 0 no-repeat;
  width: 140px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
} */


/* ////////// BOOK SEARCH FORM ////////////// */

.box-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.single-box{
   position: relative;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: auto;
   border-radius: 4px;
   background-color: rgb(230, 224, 224);
   text-align: center;
   margin: 20px;
   transition: .3s;

}

ul {
  list-style-type: none;
}

.font-bold{
  font-size: 19px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



